name: CI/CD Streamlit App (GHCR)

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  # Asegúrate de que esto esté en minúsculas
  IMAGE_NAME: jornkbz/tfm-eip

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: type=raw,value=latest

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      # --- PASO CORREGIDO ---
      - name: Prepare VPS folder
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.IONOS_HOST }}
          username: ${{ secrets.IONOS_USERNAME }}
          key: ${{ secrets.IONOS_SSH_KEY }}
          port: ${{ secrets.IONOS_SSH_PORT }}
          script: |
            mkdir -p /srv/docker/airplane-streamlit-app
            # Borrar archivos conflictivos
            rm -f /srv/docker/airplane-streamlit-app/docker-compose-prod.yml
            rm -f /srv/docker/airplane-streamlit-app/docker-compose.yml

      - name: Copy Compose file to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.IONOS_HOST }}
          username: ${{ secrets.IONOS_USERNAME }}
          key: ${{ secrets.IONOS_SSH_KEY }}
          port: ${{ secrets.IONOS_SSH_PORT }}
          source: "docker-compose-prod.yml"
          target: "/srv/docker/airplane-streamlit-app"

      - name: Deploy to VPS using SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.IONOS_HOST }}
          username: ${{ secrets.IONOS_USERNAME }}
          key: ${{ secrets.IONOS_SSH_KEY }}
          port: ${{ secrets.IONOS_SSH_PORT }}
          
          script: |
            cd /srv/docker/airplane-streamlit-app
            
            mv docker-compose-prod.yml docker-compose.yml

            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
            docker compose pull
            docker compose up -d --remove-orphans
            docker image prune -f